<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE Tech Blog of Blogs</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {{!-- HEADER --}}
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <br>
      <nav class="navbar">
        <!-- Conditionally render login or logout links -->
        {{#if user}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/api/users/logout" id="logout">Logout</a>
        {{else}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    {{!-- MAIN --}}
    <main class="container container-fluid mt-5">
      <!-- Render the layout -->
      {{{ body }}}
    </main>
    <br>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </div>

</body>
{{!-- <footer>Thank you for visiting!</footer> --}}

</html>