<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>THE Tech Blog of Blogs</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {{!-- HEADER --}}
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <br>
      <nav class="navbar">
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        {{!-- TODO This should be fixed so that the logout is a button and not a link. This is trying to call directly
        to the API with no payload. --}}
        {{!-- <a class="nav-link" href="/api/users/logout" id="logout">Logout</a> --}}
        <button class="nav-link" id="logout">Logout</button>
        {{else}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

    {{!-- MAIN --}}
    <main class="container container-fluid mt-5">
      <!-- Render the layout -->
      {{{ body }}}
    </main>
    <br>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>