<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="title" class="form-label">Title</label>

        <input type="text" id="postTitle" name="postTitle" class="form-input" />
        <label class="form-label" for="content">Content</label>
        {{!-- <input id="content" name="content" class="form-input" /> --}}
        <textarea id="content" placeholder="content"></textarea>
        <button type="submit" class="btn" id="new-post-button">Create</button>
    </form>
</div>

{{!--
<script src="/js/dashboard.js"></script> --}}
<script src="/js/addPost.js"></script>