<section class="row">
    <div class="column">
        <h2>Make a new post: </h2>
        <br>
        <form class="create-form" action="/api/posts" method="POST">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="title" name="post-title" placeholder="title">
            </div>
            <div>
                <label for="post-text">Text</label>
                <textarea id="post-text" name="post-text"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>

    {{#if posts.length}}
    <section>
        <h2>Your Posts</h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
            {{/each}}
        </ol>
    </section>
    {{/if}}

    {{!-- <button type="submit" class="btn"><a class="link" href="/dashboard/new"> New Post</a></button> --}}

    <!--Script to add a post-->
    <script src="/js/addPost.js"></script>