<!-- Loop over each object in the posts array -->
{{#if posts}}
<h2>Posts:</h2>
<ul>
    {{#each posts}}
    <li><a href="/dashboard/edit/{{id}}">{{title}} - {{format_date date_created}}</a></li>
    {{/each}}
</ul>
{{else}}
<p>No posts have been created yet.</p>
{{/if}}



<script src="/js/homepage.js"></script>