<div class="card">
  <div class="card-body">
    <h3 class="card-header">Login</h3>
    </br>
    <form id="login" class="form login-form">
      <div class="form-group">
        <label for="name-login">Username:</label>
        <input class="form-input" type="text" id="name-login" />
      </div>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
        {{!-- <button class="btn btn-primary" type="submit"><a href='/dashboard'>Login</a></button> --}}
      </div>
      </br>
      <h3 class="form-group">Dont have an account? <a href="/signup">Sign up here!</a>
        {{!-- <button class="btn btn-primary" href='/signup' type="submit">Sign up</button> --}}
      </h3>

    </form>
    {{!-- <footer>
      Thank you for visiting! 😀
    </footer> --}}
  </div>
</div>

<script src="/js/login.js"></script>