* {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #6c737e;
    --dark: #7393a7;
    --blue: #b5cfd8;
    --light: #e8ecf1;
}
.hidden {
    display: none;
}
body {
    background-color: var(--light);
}
button {
    opacity: 1;
}
button:hover {
    opacity: 0.65;
}
/* =====================HEADER======================= */
.jumbotron {
    background-color: var(--gray);
    color: white;
    padding: 15px;
    margin-bottom: -5px;
}
#jumbo-header {
    color: white;
    font-size: 36px;
}
a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
}

/* =====================NAVBAR======================= */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
}
#nav-background {
    background-color: var(--dark);
}
#logout {
    text-decoration: none;
}

/* =====================DASHBOARD======================= */
.dash-header {
    text-align: center;
    padding-bottom: 15px;
}
.dash-card {
    border: none;
    border-radius: 12px;
}
.your-post-title {
    font-size: 26px;
    width: 100%;
    height: 45px;
    border: none;
    margin-bottom: 15px;
    padding-bottom: 45px;
}
.dash-post-title {
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.dash-content {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.dash-user {
    padding-left: 45px;
    text-indent: 5px;
}
#new-post-button-dashboard {
    font-size: 18px;
    border-radius: 25px;
    background-color: var(--dark);
    color: white;
    margin-left: 50px;
}

/* =====================HOMEPAGE======================= */
#homepage-title {
    font-size: 36px;
    padding: 15px;
    text-align: center;
    background-color: var(--blue);
    color: white;
    border-radius: 25px;
}
#home-post-link {
    font-size: 26px;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-weight: bold;
}
#home-post-link:hover {
    opacity: 0.65;
}
#home-post-content {
    /* font-size: 20px; */
    text-decoration: none;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.home-card {
    border: none;
    border-radius: 12px;
}
.home-user {
    padding-left: 45px;
    text-indent: 5px;
}

/* =====================LOGIN======================= */
#card-body {
    border-radius: 25px;
}

/* =====================POST======================= */
.post-card {
    background-color: var(--blue);
    border-radius: 25px;
}
.post-title-header,
#editPostTitle,
#editContent,
.post-title-text {
    margin-bottom: 15px;
    border-radius: 5px;
}
.post-username {
    font-size: 22px;
    color: var(--gray);
}
.post-title-header {
    font-size: 24px;
}
.post-title-text {
    font-size: 18px;
}

/* =====================EDIT POST======================= */
#editPostTitle {
    font-size: 26px;
    width: 100%;
    height: 45px;
    border: none;
    font-weight: bold;
}
#editContent {
    width: 100%;
    height: 100px;
    text-align: left;
    display: block;
}

.edit-post-card {
    border-radius: 25px;
}

/* =====================POST buttons======================= */
#delete-post-button,
#update-post-button,
.update-comment,
.delete-comment,
#newCommentButton,
#add-post-button {
    border-radius: 12px;
    color: white;
    background-color: var(--gray);
}

/* =====================COMMENT======================= */
.comment-card {
    /* left: 45px; */
    /* background-color: var(--light); */
    border: none;
    margin-bottom: 15px;
    border-radius: 12px;
    word-wrap: normal;
    text-indent: 10px;
}
.comment-card-text {
    width: 100%;
    height: auto;
    border: none;
    font-size: 18px;
    padding: 15px 5px 0px 15px;
    text-indent: 10px;
    font-style: italic;
    /* background-color: var(--light); */
}
.comment-username {
    text-indent: 35px;
}
#comment {
    border-radius: 12px;
    width: 50%;
    height: auto;
    padding: 10px;
    text-indent: 10px;
}

/* =====================ADD COMMENT======================= */
.add-comment-card {
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 18px;
}
